:root {
  --seashell: #f6efea;
  --black: black;
  --dark-salmon: #e48c71;
  --white: white;
  --misty-rose: #f1d4ca;
  --plum: #e1a0cb;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  background-color: var(--seashell);
  color: var(--black);
  font-family: Martel Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  color: var(--black);
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .25em;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
}

h2 {
  color: var(--black);
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1;
}

h3 {
  color: var(--black);
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .33em;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.25;
}

h4 {
  color: var(--black);
  letter-spacing: 0;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: .5em;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 38px;
  font-weight: 800;
  line-height: 1.25;
}

h5 {
  color: var(--black);
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.25;
}

h6 {
  color: var(--black);
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.25;
}

p {
  text-align: center;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.786;
}

a {
  color: var(--dark-salmon);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  font-weight: 700;
}

li {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

strong {
  font-weight: 800;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 4px solid var(--dark-salmon);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: .5rem 1.5rem;
  font-size: 1.25rem;
  line-height: 2;
}

figure {
  margin-bottom: 0;
}

figcaption {
  background-color: var(--dark-salmon);
  text-align: center;
  border-top-right-radius: .25rem;
  margin-top: 1rem;
  padding: .5rem 1rem;
  font-size: .875rem;
  font-weight: 700;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.body {
  font-size: 1rem;
}

.page-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.template-content-bottom {
  background-color: var(--white);
  border: 2px solid #000;
  border-radius: .25rem;
  width: 100%;
  max-width: 50rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 2.5rem;
}

.colour-row {
  grid-column-gap: 1.5rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 7.5rem 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  align-items: center;
  justify-items: stretch;
  display: grid;
}

.colour {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-radius: .25rem;
  max-width: 37.5rem;
  height: 2.5rem;
}

.colour.is----white {
  background-color: var(--white);
}

.colour.is----black {
  background-color: var(--black);
}

.colour.is----linen {
  background-color: var(--seashell);
}

.colour.is----dark-salmon {
  background-color: var(--dark-salmon);
}

.colour.is----rose {
  background-color: var(--misty-rose);
}

.colour-grid {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  margin-top: 2.5rem;
  display: grid;
}

.line {
  background-color: var(--black);
  width: 100%;
  height: 2px;
}

.line.plus----margin {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.type-grid {
  grid-column-gap: 0rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-top: 2.5rem;
  display: grid;
}

.temp-heading {
  text-transform: none;
  font-size: 1.5rem;
}

.list {
  color: var(--dark-salmon);
  margin-bottom: 0;
  padding-left: 1.25rem;
}

.list-text {
  color: var(--black);
  font-weight: 600;
}

.btn-grid {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: stretch;
  justify-content: start;
  align-items: stretch;
  justify-items: start;
  margin-top: 2.5rem;
  display: grid;
}

.btn {
  border: 2px solid var(--black);
  background-color: var(--black);
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: .25rem;
  padding: 1.25em 2.5em;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25;
  transition: transform .2s;
}

.btn:hover {
  transform: translate(0, -2px);
}

.btn.is----rose {
  background-color: var(--misty-rose);
  color: var(--black);
}

.btn.is----outline {
  background-color: var(--white);
  color: var(--black);
}

.rtb {
  margin-bottom: -2rem;
}

.rtb p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.rtb img {
  border-radius: .25rem;
}

.section {
  width: 100%;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.section.is----salmon {
  border-top: 2px none var(--black);
  border-bottom: 2px none var(--black);
  background-color: #fdebeb;
  padding-bottom: 100px;
  position: relative;
}

.section.is----salmon.less-bot-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section.salmon {
  border-top: 2px none var(--black);
  border-bottom: 2px none var(--black);
  background-color: #fdebeb;
  padding-bottom: 12rem;
  position: relative;
}

.section.salmon.less-bot-padding {
  padding-bottom: 7.5rem;
}

.section.about, .section.blog-post {
  background-color: #fdebeb;
  border-top: 2px #000;
  border-bottom: 2px #000;
  margin-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.template-content {
  width: 100%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.template-content-top {
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
}

.template-btn-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  display: grid;
}

.image-license-grid {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 1.5rem;
  display: grid;
}

.image-license {
  object-fit: cover;
  border-radius: .25rem;
  width: 100%;
}

.utility-page-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
}

.utility-page-content {
  background-color: var(--white);
  text-align: center;
  border: 2px solid #000;
  border-radius: .25rem;
  flex-direction: column;
  width: 100%;
  max-width: 37.5rem;
  margin-bottom: 0;
  padding: 5rem 2.5rem;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.field {
  border: 2px solid #000;
  border-radius: .25rem;
  margin-bottom: .75rem;
  padding: 1.75em 1.5em;
  font-size: .875rem;
}

.field:active, .field:focus {
  border-color: var(--dark-salmon);
}

.field::placeholder {
  color: var(--black);
  font-size: .875rem;
}

.field-label {
  margin-bottom: .5rem;
  font-size: 1rem;
}

.error-message {
  background-color: #ffabb2;
  border: 2px solid #000;
  border-radius: .25rem;
  margin-top: 1rem;
  padding: .875em 1.5em;
  font-size: .875rem;
}

.utility-text {
  margin-bottom: 2rem;
}

.nav {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding-top: 0;
  position: fixed;
  top: 0;
}

.nav.current {
  color: var(--dark-salmon);
}

.nav-container {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 2rem 2.5rem;
  display: flex;
}

.brand {
  padding-left: 0;
  transition: transform .2s;
  display: block;
}

.brand:hover {
  transform: scale(.95);
}

.logo {
  width: 12.5rem;
  display: block;
}

.nav-link {
  text-transform: uppercase;
  padding: 1.25rem;
  font-size: .875rem;
  text-decoration: none;
  transition: color .2s;
}

.nav-link:hover {
  color: var(--dark-salmon);
  text-decoration: none;
}

.nav-link.w--current {
  color: var(--dark-salmon);
}

.nav-menu {
  border: 2px solid var(--black);
  background-color: var(--white);
  border-radius: .25rem;
  padding-left: 1.25rem;
  display: block;
}

.dropdown {
  position: static;
}

.dropdown-toggle {
  text-transform: uppercase;
  padding: 1.25rem 2.5rem 1.25rem 1.25rem;
  font-size: .875rem;
  display: block;
}

.icon {
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  display: block;
}

.dropdown-link {
  text-transform: uppercase;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .75rem 0;
  font-size: .875rem;
  text-decoration: none;
  transition: color .2s;
  display: flex;
}

.dropdown-link:hover {
  color: var(--dark-salmon);
  text-decoration: none;
}

.dropdown-link.w--current {
  color: var(--dark-salmon);
}

.dropdown-list {
  background-color: rgba(0, 0, 0, 0);
  width: 101%;
  padding-top: .5rem;
  top: auto;
  bottom: auto;
  left: 0%;
  right: 0%;
  transform: translate(-.5%);
}

.dropdown-list-content {
  border: 2px solid var(--black);
  background-color: var(--white);
  border-radius: .25rem;
  padding: 2rem 1.25rem;
}

.dropdown-link-grid {
  justify-content: space-between;
  display: flex;
}

.dropdown-link-divider {
  background-color: var(--black);
  width: 2px;
}

.nav-link-cta {
  border-left: 2px solid var(--black);
  text-transform: uppercase;
  background-color: #dba4cb;
  margin-left: 1.25rem;
  padding: 1.25rem 2.5rem;
  font-size: .875rem;
  text-decoration: none;
  transition: background-color .2s, color .2s;
}

.nav-link-cta:hover {
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
}

.nav-link-cta.w--current {
  color: var(--dark-salmon);
}

.menu-button {
  z-index: 1001;
  border: 2px solid var(--black);
  border-radius: .25rem;
  padding: 1rem;
  transition: background-color .2s;
}

.menu-button.w--open {
  background-color: var(--dark-salmon);
}

.burger-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 6px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: grid;
}

.burger-line {
  background-color: var(--black);
  width: 1.5rem;
  height: 2px;
}

.footer {
  border-top: 2px solid var(--black);
  width: 100%;
}

.footer-top {
  background-color: var(--white);
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-bottom {
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  background-color: var(--dark-salmon);
  grid-template-rows: auto;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-columns: 1fr;
  align-content: stretch;
  justify-content: stretch;
  align-items: center;
  justify-items: end;
  width: 100%;
  padding: 1.5rem 2.5rem;
  display: grid;
}

.footer-column {
  text-align: center;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding: 5rem 2.5rem;
  display: flex;
}

.footer-column-divider {
  background-color: var(--black);
  width: 2px;
}

.footer-bottom-logo {
  width: 10rem;
  display: block;
}

.footer-bottom-link {
  border: 2px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  text-transform: uppercase;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding-top: .25rem;
  font-weight: 800;
  transition: background-color .2s;
  display: flex;
}

.footer-bottom-link:hover {
  background-color: var(--misty-rose);
  text-decoration: none;
}

.instagram-grid {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding: .5rem;
  display: grid;
  overflow: hidden;
}

.instagram-img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  transition: transform .2s;
  display: block;
}

.instagram-img:hover {
  transform: scale(1.05);
}

.instagram-img-wrap {
  border: 2px solid var(--black);
  width: 100%;
  min-height: 10vw;
  overflow: hidden;
}

.footer-text-title {
  text-transform: uppercase;
  font-weight: 700;
}

.footer-link {
  color: var(--black);
  margin-top: .25rem;
  text-decoration: underline;
  transition: color .2s;
  display: block;
}

.footer-link:hover {
  color: var(--dark-salmon);
}

.footer-link-grid {
  grid-column-gap: 0rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  margin-top: .5rem;
  display: grid;
}

.footer-link-block {
  text-align: center;
}

.link-span {
  color: var(--black);
  text-decoration: none;
}

.link-span:hover {
  text-decoration: underline;
}

.footer-marquee {
  border-bottom: 2px solid var(--black);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.footer-marquee-text {
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  position: absolute;
}

.footer-column-right {
  flex-direction: column;
  flex: 1;
  max-width: 50%;
  display: flex;
}

.footer-marquee-container {
  justify-content: flex-start;
  align-items: center;
  width: 44rem;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.marquee-text-span {
  color: var(--dark-salmon);
}

.hero {
  width: 100%;
  padding-top: 6rem;
}

.container {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: block;
}

.container.relative, .container.position {
  position: relative;
}

.hero-content {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  display: grid;
  position: relative;
}

.hero-img {
  border: 2px solid var(--black);
  object-fit: cover;
  object-position: 50% 75%;
  border-radius: .25rem;
  width: 100%;
  margin-top: 1.5rem;
  display: block;
  transform: rotate(-6deg);
}

.hero-text {
  clear: none;
  text-align: center;
  text-indent: 0;
  white-space: normal;
  border: 1px #000;
  max-width: 381px;
  min-height: 180px;
  margin-top: 30px;
  margin-bottom: 2rem;
  padding-bottom: 0;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
  position: static;
  overflow: visible;
}

.hero-h3 {
  color: var(--dark-salmon);
}

.bookings {
  grid-column-gap: 3vw;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.block {
  border: 2px none var(--black);
  background-color: rgba(0, 0, 0, 0);
  border-radius: .25rem;
  padding: 2.5rem 2vw;
  position: relative;
}

.block-icon {
  border: 2px solid var(--black);
  background-color: var(--misty-rose);
  border-radius: .25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 2.5rem;
  right: auto;
  transform: translate(0, -50%);
}

.grid {
  grid-column-gap: 7.5rem;
  grid-row-gap: 5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.grid-img {
  border: 2px solid var(--black);
  object-fit: cover;
  border-radius: .25rem;
  width: 100%;
  max-height: 40rem;
  display: block;
}

.grid-img.rotate----left {
  transform: rotate(6deg);
}

.grid-img.rotate----right {
  transform: rotate(-6deg);
}

.grid-text {
  margin-bottom: 2.5rem;
}

.grid-parent {
  grid-column-gap: 0px;
  grid-row-gap: 7.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: grid;
}

.grid-content {
  width: 100%;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.menu {
  border: 2px solid var(--black);
  background-color: var(--white);
  border-radius: .25rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 5rem;
  position: relative;
}

.dish-text {
  font-weight: 400;
  line-height: 1.5;
}

.menu-item {
  grid-column-gap: 2rem;
  grid-row-gap: .5rem;
  border-bottom: 2px solid var(--black);
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: space-between;
  align-items: center;
  justify-items: start;
  padding-bottom: .5rem;
  display: grid;
}

.price {
  border: 2px solid var(--black);
  background-color: var(--misty-rose);
  border-radius: .25rem;
  padding: .5rem;
}

.dish-heading {
  margin-bottom: .1em;
}

.menu-col {
  grid-column-gap: 0px;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.menu-grid {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.tabs-menu {
  margin-top: -.5rem;
  margin-bottom: 2.5rem;
}

.tab-link {
  border: 2px solid var(--black);
  background-color: rgba(0, 0, 0, 0);
  border-radius: .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
  padding: .75rem 2rem .55rem;
}

.tab-link.w--current {
  background-color: var(--misty-rose);
}

.jobs-content {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.jobs-block {
  border: 2px solid var(--black);
  background-color: var(--white);
  border-radius: .25rem;
  flex-direction: column;
  min-height: 400px;
  display: flex;
}

.jobs-img {
  border: 2px solid var(--black);
  object-fit: cover;
  border-radius: .25rem;
  width: 100%;
  display: block;
}

.jobs-block-top {
  border-bottom: 2px solid var(--black);
  background-color: var(--dark-salmon);
  padding: 1.25rem;
}

.jobs-block-bottom {
  flex: 1;
  padding: 2rem 1.25rem;
}

.jobs-h3 {
  margin-bottom: 0;
  padding-top: .25rem;
  font-size: 1.25rem;
}

.jobs-block-button {
  border-top: 2px solid var(--black);
  background-color: var(--misty-rose);
  color: var(--black);
  width: 100%;
  padding: 1.25rem;
  transition: background-color .2s;
}

.jobs-block-button:hover {
  background-color: var(--dark-salmon);
}

.jobs-title {
  margin-bottom: .5rem;
  font-weight: 800;
}

.jobs-line {
  background-color: var(--black);
  width: 100%;
  height: 2px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.jobs-heading-wrap {
  border: 2px solid var(--black);
  background-color: var(--white);
  border-radius: .25rem;
  align-items: center;
  padding: .5rem;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 1.25rem;
  left: 1.25rem;
  right: auto;
}

.jobs-hourly {
  border: 2px solid var(--black);
  background-color: var(--misty-rose);
  border-radius: .35rem;
  margin-left: 1rem;
  padding: .25rem .25rem .15rem;
  font-size: .75rem;
}

.jobs-img-wrap {
  flex-direction: column;
  display: flex;
  position: relative;
}

.block-icon-img {
  width: 1rem;
}

.hero-b {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.hero-b-left {
  background-color: #f8f8f8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 7.5rem 2.5rem;
  display: flex;
  position: relative;
}

.hero-b-right {
  border-left: 2px none var(--black);
  background-image: url('../images/lily_1900.jpg');
  background-position: 100%;
  background-size: cover;
  width: 50%;
  position: relative;
}

.hero-b-img {
  object-fit: cover;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hero-b-content {
  z-index: auto;
  object-fit: fill;
  flex: 0 auto;
  order: 1;
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 60px;
  position: relative;
}

.module {
  z-index: 1002;
  border-left: 2px solid var(--black);
  background-color: var(--dark-salmon);
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 25rem;
  height: 100%;
  padding: 10rem 2.5rem;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(100%);
}

.form-block {
  width: 100%;
  margin-bottom: 0;
  display: block;
}

.form {
  width: 100%;
  display: block;
}

.booking-text {
  margin-bottom: 1rem;
  font-size: .875rem;
}

.booking-h2 {
  font-size: 1.25rem;
}

.success-message {
  border: 2px solid var(--black);
  background-color: var(--misty-rose);
  text-align: left;
  border-radius: .25rem;
  padding: 1rem 1rem .8rem;
  font-weight: 700;
  line-height: 1.5;
}

.close-module {
  border: 2px solid var(--black);
  cursor: pointer;
  border-radius: .25rem;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  transition: background-color .2s;
  display: flex;
  position: absolute;
  top: 2.5rem;
  bottom: auto;
  left: auto;
  right: 2.5rem;
}

.close-module:hover {
  background-color: var(--white);
}

.module-icon {
  margin-bottom: -.25rem;
}

.form-block-2 {
  width: 80%;
  padding-right: 0;
}

.card-image {
  z-index: 2;
  object-fit: cover;
  width: 600px;
  min-height: 400px;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.card-image.short {
  min-height: 250px;
  max-height: 300px;
}

.heading {
  color: #dba4cb;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: Bebas Neue, sans-serif;
  font-size: 100px;
  font-weight: 400;
}

.h3-heading {
  z-index: 4;
  text-align: center;
  letter-spacing: 0;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-weight: 400;
  position: relative;
}

.open-sans-par {
  z-index: 4;
  text-align: center;
  margin-top: 23px;
  font-family: Open Sans, sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
  position: relative;
}

.open-sans-par.left {
  text-align: left;
  align-self: flex-start;
}

.absolute-heading {
  z-index: 2;
  color: #dba4cb;
  text-align: center;
  letter-spacing: 0;
  text-shadow: 3px 3px 5px #000;
  align-self: auto;
  width: auto;
  font-family: Bebas Neue, sans-serif;
  font-size: 86px;
  font-weight: 400;
  display: block;
  position: absolute;
  top: auto;
  bottom: -8%;
  left: 0%;
  right: 0%;
}

.absolute-heading.mobile {
  display: none;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.text-block {
  font-size: 76px;
  font-weight: 400;
  position: absolute;
  top: 15%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: rotate(-26deg);
}

.image {
  opacity: 0;
}

.image-2 {
  width: 60%;
  max-width: none;
  margin-left: 0;
  padding-top: 95px;
  padding-bottom: 10px;
  position: absolute;
  top: -19%;
  bottom: auto;
  left: -15%;
  right: auto;
}

.image-3 {
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-4 {
  z-index: 3;
  width: 22%;
  position: absolute;
  top: 4%;
  bottom: auto;
  left: -9%;
  right: auto;
}

.image-4.smaller {
  width: 9%;
  left: -4%;
}

.image-5 {
  z-index: 3;
  width: 22%;
  position: absolute;
  top: 4%;
  bottom: auto;
  left: auto;
  right: -9%;
}

.image-5.smaller {
  width: 9%;
  right: -3%;
}

.text-block-2 {
  text-shadow: 3px 3px 5px #dba4cb;
  align-self: center;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fdf4ed;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-photo {
  z-index: 2;
  object-fit: cover;
  width: auto;
  min-height: 400px;
  margin-top: 9%;
  display: block;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.booking-grid {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  background-color: rgba(0, 0, 0, 0);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.grid-photo-div {
  background-color: #fdf4ed;
  margin-left: -1px;
  padding-left: 15px;
  padding-right: 15px;
}

.paragraph {
  text-align: center;
  letter-spacing: 2px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 47px;
}

.paragraph.right {
  text-align: left;
  line-height: 37px;
}

.grid-2 {
  grid-row-gap: 12px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 2.25fr 1fr;
  max-width: 1100px;
  margin-top: 11%;
  margin-left: auto;
  margin-right: auto;
}

.pink-heading {
  z-index: 2;
  color: #dba4cb;
  text-align: left;
  letter-spacing: 0;
  text-shadow: 3px 3px 5px #000;
  align-self: auto;
  width: auto;
  font-family: Bebas Neue, sans-serif;
  font-size: 86px;
  font-weight: 400;
  display: block;
  position: static;
  top: auto;
  bottom: -8%;
  left: 0%;
  right: 0%;
}

.pink-heading.mobile {
  display: none;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.pink-heading.absolute {
  width: 55%;
  margin-bottom: 0;
  position: relative;
  bottom: 41px;
  left: 6%;
}

.video-work-grid {
  grid-column-gap: 52px;
  grid-row-gap: 16px;
  background-color: rgba(0, 0, 0, 0);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.image-6 {
  width: 21vw;
  max-width: 240px;
  transform: rotate(2deg);
}

.div-block-2 {
  background-color: #fdf4ed;
  justify-content: flex-start;
  margin-top: 60px;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 0;
  display: flex;
}

.image-7 {
  width: 21vw;
  max-width: 240px;
  margin-top: 20%;
}

.flipped-text {
  text-align: center;
  letter-spacing: 2px;
  width: 100px;
  max-width: none;
  margin-left: -10px;
  margin-right: auto;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 47px;
  transform: rotate(-90deg);
}

.flipped-text.right {
  text-align: left;
  line-height: 37px;
}

.submit-button {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  background-color: #dba4cb;
  border-radius: 5px;
  padding: 15px 45px;
}

.submit-button:hover {
  color: #fff;
  background-color: #000;
}

.form-wrapper {
  background-color: #fdf4ed;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  padding: 50px 5%;
  display: flex;
}

.form-wrapper.grid {
  margin-top: 147px;
}

.grid3 {
  grid-column-gap: 30px;
  grid-row-gap: 12px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 2.25fr 1fr;
  max-width: 1100px;
  margin-top: 11%;
  margin-left: auto;
  margin-right: auto;
}

.long-grid-div {
  z-index: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fdf4ed;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  margin-bottom: 48px;
  padding-bottom: 12px;
  display: grid;
  position: relative;
}

.image-8 {
  max-width: 40%;
  height: 23px;
  position: absolute;
  top: auto;
  bottom: -21px;
  left: 0%;
  right: auto;
}

.image-9 {
  max-width: 40%;
  height: 23px;
  position: absolute;
  top: auto;
  bottom: -21px;
  left: auto;
  right: 0%;
}

.div-block-3 {
  padding-top: 25px;
  padding-bottom: 6%;
  padding-left: 12%;
}

.div-block-4 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  padding-left: 30px;
  display: flex;
  position: relative;
}

.div-block-5 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.image-10 {
  margin-top: 0%;
  margin-bottom: 71%;
}

.form-block-3 {
  width: 100%;
  margin-bottom: 0;
}

.text-field {
  border: 1px #000;
  margin-bottom: 24px;
}

.grid-3 {
  grid-column-gap: 53px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.div-block-6 {
  background-color: #fff;
}

.image-11 {
  margin-top: -42px;
}

.image-12 {
  flex: 1;
  align-self: auto;
  margin-right: 30px;
}

.image-13 {
  object-fit: contain;
  flex: 1;
  padding-right: 30px;
}

.image-14 {
  object-fit: contain;
  flex: 1;
  margin-right: 30px;
}

.link-block {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.grid-4 {
  grid-column-gap: 54px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .3fr;
}

.blog-card {
  display: flex;
}

.phone-img {
  z-index: 1;
  border: 2px solid #443028;
  border-radius: 8px;
  align-self: center;
  width: 190px;
  position: relative;
  overflow: hidden;
  box-shadow: 6px 6px #443028;
}

.phone-head {
  background-color: #e1a0cb;
  padding: 6px;
}

.image-15 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.date-line {
  background-color: #fdf4ed;
  border-top: 1px solid #443028;
  border-bottom: 1px solid #443028;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
}

.paragraph-2 {
  font-family: Open Sans, sans-serif;
  font-style: italic;
  font-weight: 300;
}

.paragraph-2.centered {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  line-height: 37px;
}

.phone-body {
  background-color: #fdf4ed;
  height: 180px;
}

.bottom-phone {
  background-color: #e1a0cb;
  margin-bottom: 0;
  padding: 5px 6px 3px;
}

.image-16 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.blog-text {
  background-color: #fdf4ed;
  flex-direction: column;
  flex: 1;
  align-self: center;
  align-items: flex-start;
  height: 90%;
  padding: 16px 2% 10px 4%;
  display: flex;
}

.heading-2 {
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
}

.tags {
  margin-right: 5px;
  font-family: Open Sans, sans-serif;
  font-size: 23px;
  font-style: italic;
  font-weight: 300;
}

.collection-list {
  display: flex;
}

.collection-list-wrapper {
  align-self: flex-end;
  margin-top: 10px;
}

.ad-block {
  background-color: var(--plum);
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
  display: block;
}

.adverts-wrapper {
  width: 100%;
}

.blog-body {
  background-color: #fdf4ed;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  position: relative;
  box-shadow: 4px 4px #bcbcbc;
}

.grid-5 {
  grid-column-gap: 33px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .3fr;
  margin-top: 67px;
}

.image-17 {
  float: right;
  margin-bottom: 10px;
  margin-left: 20px;
}

.div-block-7 {
  background-color: var(--plum);
  height: 80px;
}

.advert-block {
  background-color: var(--plum);
  height: 80px;
  margin-bottom: 15px;
}

.text-block-4 {
  font-family: Open Sans, sans-serif;
  font-size: 23px;
  font-style: italic;
  font-weight: 300;
  position: absolute;
  top: 31px;
  bottom: auto;
  left: auto;
  right: 11%;
}

.text-block-5 {
  letter-spacing: 2px;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 40px;
  line-height: 40px;
  position: absolute;
  top: -16px;
  bottom: auto;
  left: auto;
  right: 1%;
}

.buttons-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  display: flex;
  position: relative;
}

.button {
  color: #000;
  text-align: center;
  letter-spacing: 2px;
  background-color: #f8f8f8;
  width: 250px;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 25px;
}

.link {
  color: #000;
  letter-spacing: 1px;
  margin-top: 11px;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 25px;
}

.text-block-6 {
  font-family: Open Sans, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.collection-list-2 {
  display: flex;
}

.div-block-8 {
  padding-bottom: 34px;
}

.left-column-wrapper-about {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.link-social {
  margin-left: 10px;
  margin-right: 10px;
}

.logo-block {
  background-color: #dba4cb;
  border-radius: 15px;
  justify-content: center;
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.paragraph-right-column-about {
  text-align: justify;
}

.grid-about {
  grid-column-gap: 54px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
}

.image-social {
  min-width: 70px;
}

.heading-about-center {
  z-index: 2;
  color: #dba4cb;
  text-align: center;
  letter-spacing: 0;
  text-shadow: 3px 3px 5px #000;
  align-self: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Bebas Neue, sans-serif;
  font-size: 86px;
  font-weight: 400;
  display: block;
  position: absolute;
  top: -7%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.wrapper-social {
  width: 95%;
  height: 120px;
  margin-top: 20px;
  display: flex;
}

.block-social {
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 30px;
  display: flex;
}

.social-icons-wrapper {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin-bottom: 30px;
  margin-left: auto;
  padding: 10px 15px;
  display: flex;
}

.yt-link-blog {
  color: #000;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
}

.author-date-wrapper {
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.border-right {
  z-index: -1;
  background-color: #c2c2c2;
  width: 11px;
  height: 98%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: -1%;
}

.affiliate-text {
  color: #fff;
  text-transform: uppercase;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 26px;
  font-style: italic;
  font-weight: 500;
}

.yt-link-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.date-text {
  margin-right: 78px;
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.links-wrapper {
  width: 50%;
}

.border-bottom {
  z-index: -1;
  background-color: #c2c2c2;
  width: 98%;
  height: 11px;
  position: absolute;
  top: auto;
  bottom: -1%;
  left: auto;
  right: -1%;
}

.affiliate-block {
  background-color: #e1a0cb;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
}

.rich-text-blog {
  margin-top: 35px;
}

.heading-blog {
  z-index: 2;
  color: #dba4cb;
  text-align: left;
  letter-spacing: 0;
  text-shadow: 3px 3px 5px #000;
  align-self: auto;
  width: auto;
  margin-left: 112px;
  font-family: Bebas Neue, sans-serif;
  font-size: 86px;
  font-weight: 400;
  display: block;
  position: static;
  top: auto;
  bottom: -8%;
  left: 0%;
  right: 0%;
}

.blog-post-wrapper {
  z-index: 99;
  background-color: #fdf4ed;
  border-bottom: 7px #c2c2c2;
  border-right: 7px #c2c2c2;
  flex-direction: column;
  flex: 1;
  align-self: center;
  align-items: flex-start;
  padding: 80px 4% 10px;
  display: flex;
  position: relative;
}

.tags-block {
  margin-left: auto;
  font-style: italic;
}

.heading-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -121px;
  display: flex;
}

.author-text-block {
  font-family: "Kgpiecebypiece 2qxw", sans-serif;
  font-size: 27px;
  font-style: italic;
  font-weight: 400;
}

.yt-embed {
  align-items: center;
  width: 70%;
  margin-right: 20px;
  display: flex;
}

.link-blog {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  display: flex;
}

.image-21 {
  z-index: 4;
  position: absolute;
  top: 49%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.link-2, .link-3, .link-4, .link-5, .link-6, .link-7 {
  color: var(--black);
}

.grid-6 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  .template-content-bottom {
    border-radius: 0;
  }

  .colour-row {
    grid-template-columns: 1fr;
  }

  .colour, .colour.is----black {
    max-width: none;
  }

  .colour-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .type-grid {
    grid-row-gap: 20px;
  }

  .section {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .section.about {
    padding-top: 7.95rem;
  }

  .template-btn-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .nav-link {
    border-bottom: 2px solid var(--black);
    width: 100%;
    display: block;
  }

  .nav-link:active {
    color: var(--dark-salmon);
  }

  .nav-menu {
    z-index: 1000;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-radius: 0;
    width: 100%;
    max-width: 20rem;
    max-height: 100%;
    padding-left: 0;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
    overflow: auto;
  }

  .dropdown {
    border-bottom: 2px solid var(--black);
    width: 100%;
    display: block;
  }

  .dropdown-link {
    flex: 0 auto;
    align-items: flex-start;
  }

  .dropdown-link:active {
    color: var(--dark-salmon);
  }

  .dropdown-list {
    width: 100%;
    padding-top: 0;
    position: static;
    transform: none;
  }

  .dropdown-list-content {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0;
  }

  .dropdown-link-grid {
    flex-wrap: wrap;
  }

  .dropdown-link-divider {
    display: none;
  }

  .nav-link-cta {
    border-bottom: 2px solid #000;
    border-left-style: none;
    width: 100%;
    margin-left: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .menu-button {
    background-color: var(--seashell);
    transition: opacity .2s;
  }

  .footer-top {
    flex-wrap: wrap;
  }

  .footer-bottom {
    text-align: center;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .footer-column {
    flex: 0 auto;
    width: 100%;
    max-width: none;
  }

  .footer-column-divider {
    width: 100%;
    height: 2px;
  }

  .footer-column-right {
    max-width: none;
  }

  .hero-content {
    grid-template-columns: 1fr;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .hero-img-wrap {
    padding-left: 0;
  }

  .bookings {
    grid-row-gap: 8.5rem;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .block {
    min-height: 320px;
    overflow: visible;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid-text-wrap {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .grid-parent {
    padding-left: 0;
    padding-right: 0;
  }

  .grid-content {
    padding-top: 6.25rem;
    padding-bottom: 0;
  }

  .menu {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .menu-col {
    grid-row-gap: 2rem;
  }

  .menu-grid, .jobs-content {
    grid-template-columns: 1fr;
  }

  .hero-b-left {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 12.25rem;
    padding-bottom: 6.25rem;
  }

  .hero-b-right {
    width: 100%;
  }

  .hero-b-img {
    position: static;
  }

  .hero-b-content {
    align-self: center;
    max-width: none;
  }

  .card-image {
    z-index: 2;
    object-fit: contain;
    min-height: auto;
    max-height: none;
  }

  .open-sans-par {
    font-size: 18px;
  }

  .absolute-heading {
    display: none;
  }

  .absolute-heading.mobile {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: -4%;
    left: auto;
  }

  .image-4 {
    width: 19%;
    left: -7%;
  }

  .image-5 {
    width: 19%;
    right: -7%;
  }

  .grid-photo {
    z-index: 2;
    object-fit: cover;
    min-height: 250px;
    max-height: none;
  }

  .pink-heading {
    display: block;
  }

  .pink-heading.mobile {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: -4%;
    left: auto;
  }

  .pink-heading.absolute {
    font-size: 72px;
    display: block;
    left: -2%;
  }

  .video-work-grid {
    grid-column-gap: 13px;
  }

  .form-wrapper.grid {
    margin-top: 0;
  }

  .image-8 {
    bottom: -17px;
  }

  .image-9 {
    bottom: -16px;
  }

  .grid-3 {
    grid-column-gap: 16px;
  }

  .grid-4 {
    grid-column-gap: 29px;
  }

  .phone-img {
    align-self: center;
  }

  .paragraph-2.centered {
    font-size: 19px;
    line-height: 32px;
  }

  .text-block-4 {
    font-size: 21px;
  }

  .text-block-5 {
    font-size: 33px;
  }

  .grid-about {
    grid-column-gap: 29px;
  }

  .image-social {
    min-width: 40px;
  }

  .heading-about-center {
    margin-left: 0;
    display: block;
    top: -16%;
  }

  .wrapper-social {
    height: 90px;
    max-height: 90px;
  }

  .block-social {
    padding-left: 10px;
  }

  .social-icons-wrapper {
    width: 70%;
  }

  .border-right {
    bottom: -1%;
  }

  .yt-link-wrapper {
    flex-direction: column;
  }

  .date-text {
    margin-right: 0;
  }

  .links-wrapper {
    width: 100%;
  }

  .heading-blog {
    margin-left: 0;
    display: block;
  }

  .blog-post-wrapper {
    padding-right: 5%;
  }

  .heading-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .yt-embed {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .template-content-bottom {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .colour-grid {
    grid-template-columns: 1fr;
  }

  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section.is----salmon {
    padding-bottom: 5rem;
  }

  .section.is----salmon.less-bot-padding {
    padding-top: 4rem;
    padding-bottom: 3.9rem;
  }

  .section.salmon {
    padding-bottom: 10.1rem;
  }

  .section.about {
    padding-top: 1.65rem;
    padding-bottom: 5rem;
  }

  .section.blog-post {
    padding-bottom: 5rem;
  }

  .template-content-top {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .image-license-grid {
    grid-template-columns: 1fr 1fr;
  }

  .utility-page-wrap, .utility-page-content, .nav-container, .footer-column, .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .hero-text {
    font-size: 25px;
  }

  .bookings {
    grid-row-gap: 0rem;
    max-width: 450px;
  }

  .block {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .grid-text-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .grid-content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .menu {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-b-left {
    padding: 11rem 2rem 1.8rem;
  }

  .module {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .close-module {
    top: 2rem;
    right: 2rem;
  }

  .card-image {
    max-height: 320px;
  }

  .heading {
    font-size: 55px;
  }

  .open-sans-par {
    font-size: 18px;
  }

  .absolute-heading.mobile {
    font-size: 61px;
  }

  .image-2 {
    width: 48%;
    top: -23%;
    left: -8%;
  }

  .booking-grid {
    grid-template-columns: 1fr;
    max-width: 250px;
  }

  .pink-heading.mobile {
    font-size: 61px;
  }

  .pink-heading.absolute {
    width: 58%;
    font-size: 63px;
  }

  .video-work-grid {
    grid-template-columns: 1fr 1fr;
  }

  .grid3 {
    grid-template-columns: 1fr;
  }

  .div-block-5 {
    flex-direction: row;
  }

  .image-10 {
    width: 45%;
    margin-bottom: 0%;
    margin-right: 5%;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr;
  }

  .image-11 {
    margin-top: -6px;
  }

  .grid-4 {
    grid-row-gap: 42px;
    grid-template-columns: 1fr;
  }

  .heading-2 {
    font-size: 37px;
  }

  .grid-5 {
    grid-template-columns: 1fr;
  }

  .text-block-5 {
    font-size: 27px;
  }

  .image-18, .image-19 {
    width: 45%;
  }

  .grid-about {
    grid-row-gap: 42px;
    grid-template-columns: 1fr;
  }

  .heading-about-center {
    text-align: left;
    position: static;
    top: -8%;
  }

  .blog-post-wrapper {
    padding-right: 5%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  blockquote {
    font-size: 1rem;
  }

  .template-content-bottom {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .section.is----salmon {
    padding-bottom: 2.3rem;
  }

  .section.is----salmon.less-bot-padding {
    padding-bottom: 4.1rem;
  }

  .section.salmon {
    padding-bottom: 2.3rem;
  }

  .section.about {
    padding-top: 2.95rem;
    padding-bottom: 2.3rem;
  }

  .section.blog-post {
    padding-bottom: 2.3rem;
  }

  .template-content-top, .utility-page-wrap, .utility-page-content, .nav-container, .footer-column {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .instagram-grid {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-text {
    margin-bottom: 1.5rem;
  }

  .bookings {
    grid-row-gap: 25px;
    grid-template-columns: 1fr;
    max-width: 220px;
  }

  .block {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .grid-text-wrap {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .grid-parent {
    grid-row-gap: 5rem;
  }

  .menu {
    padding: 2.5rem 1.5rem;
  }

  .menu-item {
    grid-column-gap: .5rem;
  }

  .price {
    padding: .25rem;
    font-size: .75rem;
  }

  .tab-link {
    width: 100%;
  }

  .jobs-h3 {
    width: 100%;
    margin-bottom: .5rem;
    font-size: 1rem;
  }

  .jobs-heading-wrap {
    flex-wrap: wrap;
    order: -1;
    margin-bottom: 1rem;
    position: relative;
    bottom: 0;
    left: 0;
  }

  .jobs-hourly {
    margin-left: 0;
  }

  .hero-b-left {
    padding-top: 10.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .module {
    max-width: 20rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .close-module {
    top: 1.5rem;
    right: 1.5rem;
  }

  .open-sans-par {
    font-size: 17px;
    line-height: 28px;
  }

  .absolute-heading.mobile {
    letter-spacing: -1px;
    font-size: 50px;
    top: -3%;
  }

  .image-2 {
    width: 55%;
    top: -18%;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .pink-heading {
    font-size: 50px;
  }

  .pink-heading.mobile {
    letter-spacing: -1px;
    font-size: 50px;
    top: -3%;
  }

  .pink-heading.absolute {
    width: 100%;
  }

  .video-work-grid {
    grid-template-columns: 1fr;
  }

  .image-6 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .image-7 {
    width: 90%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
  }

  .long-grid-div {
    grid-template-columns: 1fr;
    padding-bottom: 27px;
  }

  .image-8, .image-9 {
    max-width: 45%;
    bottom: -15px;
  }

  .div-block-3 {
    padding-left: 5%;
    padding-right: 5px;
  }

  .div-block-4 {
    max-height: 150px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .grid-3 {
    grid-template-columns: 1fr;
    max-width: 247px;
    margin-left: auto;
    margin-right: auto;
  }

  .image-11.mobile {
    display: none;
  }

  .grid-4 {
    margin-top: 43px;
  }

  .blog-card {
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .blog-text {
    padding-bottom: 70px;
  }

  .text-block-5 {
    margin-bottom: 13px;
    position: static;
    top: 18px;
  }

  .image-20 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-about {
    margin-top: 43px;
  }

  .image-social {
    min-width: 35px;
  }

  .heading-about-center {
    font-size: 50px;
    top: -5%;
  }

  .wrapper-social {
    height: 70px;
  }

  .block-social {
    font-size: 26px;
    font-style: normal;
  }

  .social-icons-wrapper {
    width: 100%;
  }

  .yt-link-blog {
    font-size: 26px;
  }

  .border-right {
    top: auto;
    bottom: 0%;
    left: auto;
    right: -2%;
  }

  .border-bottom {
    top: auto;
    bottom: -.5%;
    left: auto;
    right: -2%;
  }

  .heading-blog {
    font-size: 50px;
  }

  .blog-post-wrapper {
    padding-bottom: 70px;
    padding-right: 5%;
  }

  .author-text-block {
    font-size: 24px;
  }

  .yt-embed {
    margin-right: 0;
  }
}

#w-node-_2c4a613e-54bd-00fc-d322-045b30fad56b-f5339a39 {
  justify-self: start;
}

#w-node-df0ceabf-649e-5bb5-0c48-4eab7630935a-42d2d5f0, #w-node-_8d1f3a67-ef4e-142e-6ee0-9108cbb82d05-42d2d5f0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f62f4e92-8570-783b-b4c1-3daebbd0e7bb-42d2d5f0 {
  grid-area: span 3 / span 1 / span 3 / span 1;
  justify-self: end;
}

#w-node-_4d67890d-ee6a-d86b-bf16-d285582d5eb0-42d2d5f0, #w-node-d4e6a303-050d-cf3c-01b0-e46e841c7ce9-42d2d5f0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1e31b3f8-957e-899f-bbc5-f178ca5d2b72-42d2d5f0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-f6eb9c3c-fe6f-7e62-8d6b-ae9a1849b0c1-42d2d5f0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f6eb9c3c-fe6f-7e62-8d6b-ae9a1849b0c0-42d2d5f0 {
  grid-area: span 3 / span 1 / span 3 / span 1;
  justify-self: end;
}

#w-node-f6eb9c3c-fe6f-7e62-8d6b-ae9a1849b0c8-42d2d5f0, #w-node-_2b8686c9-7894-c31c-4a9a-fdbf8cec8e1e-42d2d5f0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6a821420-eff2-602d-3101-762793efae6f-42d2d5f0 {
  align-self: auto;
}

#w-node-_33b8a624-a616-7f0f-20ef-da2252c5b651-42d2d5f0 {
  grid-area: span 4 / span 1 / span 4 / span 1;
  justify-self: end;
}

#w-node-_6a821420-eff2-602d-3101-762793efae71-42d2d5f0 {
  grid-area: span 3 / span 1 / span 3 / span 1;
  justify-self: end;
}

#w-node-_6a821420-eff2-602d-3101-762793efae72-42d2d5f0, #w-node-cfe4749d-0671-cc87-8011-a5e36c8379fd-42d2d5f0, #w-node-_24dc593c-1eb7-9ee7-a644-d3e7f618f492-42d2d5f0, #w-node-_054cc961-9a99-7adc-88e5-9bd8b64b5172-42d2d5f0, #w-node-_054cc961-9a99-7adc-88e5-9bd8b64b5175-42d2d5f0, #w-node-_054cc961-9a99-7adc-88e5-9bd8b64b517b-42d2d5f0, #w-node-_46ec241d-32be-83f9-b616-eaef842bcc3f-42d2d5f0, #w-node-_46ec241d-32be-83f9-b616-eaef842bcc42-42d2d5f0, #w-node-_46ec241d-32be-83f9-b616-eaef842bcc48-42d2d5f0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5580bf6b-649f-c022-7278-d76dcee3e2c6-42d2d5f0 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-db2f8242-02e4-a93a-eac8-171f4b99ae74-42d2d5f0 {
  grid-area: 1 / 4 / 3 / 5;
  justify-self: end;
}

#w-node-_47da35de-f733-3a9a-a842-c230955fb2c6-42d2d5f0 {
  grid-area: 3 / 4 / 4 / 5;
  justify-self: end;
}

#w-node-_5e9348b0-02f9-9493-f929-83de0fac487e-42d2d5f0 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_6a821420-eff2-602d-3101-762793efae6f-ce662e6c {
  align-self: auto;
}

#w-node-_33b8a624-a616-7f0f-20ef-da2252c5b651-ce662e6c {
  grid-area: span 4 / span 1 / span 4 / span 1;
  justify-self: end;
}

#w-node-_6a821420-eff2-602d-3101-762793efae71-ce662e6c {
  grid-area: span 3 / span 1 / span 3 / span 1;
  justify-self: end;
}

#w-node-_6a821420-eff2-602d-3101-762793efae72-ce662e6c, #w-node-cfe4749d-0671-cc87-8011-a5e36c8379fd-ce662e6c, #w-node-_24dc593c-1eb7-9ee7-a644-d3e7f618f492-ce662e6c, #w-node-_054cc961-9a99-7adc-88e5-9bd8b64b5172-ce662e6c, #w-node-_054cc961-9a99-7adc-88e5-9bd8b64b5175-ce662e6c, #w-node-_054cc961-9a99-7adc-88e5-9bd8b64b517b-ce662e6c, #w-node-_46ec241d-32be-83f9-b616-eaef842bcc3f-ce662e6c, #w-node-_46ec241d-32be-83f9-b616-eaef842bcc42-ce662e6c, #w-node-_46ec241d-32be-83f9-b616-eaef842bcc48-ce662e6c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9d258222-b4d6-afff-89d3-39cb70c70366-e4bbd614 {
  align-self: auto;
}

#w-node-_4dcbdc47-4490-18a7-60cf-a9d243a300ad-e4bbd614 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-dd775954-7d7b-34a1-c348-d0088f392b3e-7d248b4c {
  align-self: auto;
}

#w-node-_813ba006-43cc-c0ac-682a-e457e70dda36-7d248b4c, #w-node-_16a8f65a-ff6d-73ee-2db4-151e46b59f26-46b59f26, #w-node-_16a8f65a-ff6d-73ee-2db4-151e46b59f3b-46b59f26, #w-node-_16a8f65a-ff6d-73ee-2db4-151e46b59f3c-46b59f26, #w-node-_16a8f65a-ff6d-73ee-2db4-151e46b59f3d-46b59f26, #w-node-f3441672-8dce-8455-bd81-2a0304207e98-d786d7c6, #w-node-f3441672-8dce-8455-bd81-2a0304207ea6-d786d7c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_1687fad9-348e-b342-d250-d341b2c27e33-f5339a39 {
    order: -9999;
  }

  #w-node-_2c4a613e-54bd-00fc-d322-045b30fad56b-f5339a39 {
    justify-self: center;
  }

  #w-node-_2c4a613e-54bd-00fc-d322-045b30fad56e-f5339a39 {
    order: 9999;
  }

  #w-node-df0ceabf-649e-5bb5-0c48-4eab7630935a-42d2d5f0, #w-node-_5e9348b0-02f9-9493-f929-83de0fac487e-42d2d5f0 {
    align-self: start;
  }

  #w-node-_33b8a624-a616-7f0f-20ef-da2252c5b651-ce662e6c {
    grid-area: 1 / 2 / 5 / 3;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_33b8a624-a616-7f0f-20ef-da2252c5b651-42d2d5f0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: end;
  }

  #w-node-_5580bf6b-649f-c022-7278-d76dcee3e2c6-42d2d5f0 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-db2f8242-02e4-a93a-eac8-171f4b99ae74-42d2d5f0 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_47da35de-f733-3a9a-a842-c230955fb2c6-42d2d5f0 {
    grid-column: 1 / 2;
  }

  #w-node-_5e9348b0-02f9-9493-f929-83de0fac487e-42d2d5f0 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: start;
  }

  #w-node-_33b8a624-a616-7f0f-20ef-da2252c5b651-ce662e6c {
    grid-area: 3 / 1 / 4 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f62f4e92-8570-783b-b4c1-3daebbd0e7bb-42d2d5f0 {
    grid-area: span 3 / span 1 / span 3 / span 1;
    justify-self: end;
  }

  #w-node-d4e6a303-050d-cf3c-01b0-e46e841c7ce9-42d2d5f0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_1e31b3f8-957e-899f-bbc5-f178ca5d2b72-42d2d5f0 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-f6eb9c3c-fe6f-7e62-8d6b-ae9a1849b0c0-42d2d5f0 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
  }

  #w-node-_5580bf6b-649f-c022-7278-d76dcee3e2c6-42d2d5f0 {
    grid-column-end: 2;
  }

  #w-node-_47da35de-f733-3a9a-a842-c230955fb2c6-42d2d5f0 {
    grid-row: 2 / 3;
  }

  #w-node-_5e9348b0-02f9-9493-f929-83de0fac487e-42d2d5f0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
  }

  #w-node-_6b711f30-5eaf-96af-83de-9d45e0856f17-7d248b4c {
    justify-self: center;
  }
}


@font-face {
  font-family: 'Kgpiecebypiece 2qxw';
  src: url('../fonts/KgPieceByPiece-2qxW.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}